<!-- Loading Spinner -->
@if(isLoading)
{
  <div class="loading-overlay">
    <div class="spinner"></div>
  </div>
}

<!-- Product List -->
<div class="product-grid">
  @for (p of products; track $index)
  {
    <div class="product-card">

      <!-- Product Image with Quick view -->
      <div class="product-image-container">
        <img src="{{p.pictureUrl}}" alt="{{p.name}}" class="product-image">

        <!-- Quick View Button (shown on hover) -->
        <a routerLink="/products/{{p.id}}" class="quick-view-btn">Quick View</a>
      </div>

      <!-- Product Details -->
      <div class="product-details">
        <div class="text-details">
          <h3>
            <a routerLink="/products/{{p.id}}" class="product-name"> {{ p.name }} </a>
          </h3>

          <span class="product-price">{{ p.price }} L.E</span>

          <a class="icon-link nav-click position-relative">
            <i class="zmdi zmdi-shopping-cart fs-5" (click)="addProductToCart(p)"></i>
          </a>

          <button class="wishlist-button">
            <!-- <img src="Icons/icon-heart-01.png" alt="Add to wishlist" class="heart-icon"> -->
            <i class="bi fs-5 ms-3"
              [class.bi-heart]="!p.isFavourited"
              [class.bi-heart-fill]="p.isFavourited"
              [class.text-danger]="p.isFavourited"
              (click)="toggleWishlist(p)">
            </i>
          </button>
        </div>
      </div>

    </div>
  }
</div>


<!-- Pagination -->
<div class="pagination-controls">
  <button (click)="goToPage(1)" [disabled]="currentPage === 1">First</button>
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>

  @for (page of getPages(); track $index)
  {
    <span (click)="goToPage(page)" [class.active]="page === currentPage" class="page-number"> {{ page }} </span>
  }

  <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  <button (click)="goToPage(totalPages)" [disabled]="currentPage === totalPages">Last</button>


  <div class="page-info">
    Page {{ currentPage }} of {{ totalPages }} ({{ totalItems }} items total)
  </div>
</div>
