<div class="product-grid">
  @for (p of products; track $index) {
    <div class="product-card">
      <!-- Product Image -->
      <div class="product-image-container">
        <img src="Images/{{p.img}}.jpg" alt="{{p.name}}" class="product-image">

        <!-- Quick View Button (shown on hover) -->
        <a routerLink="/products/{{p.id}}" class="quick-view-btn">Quick View</a>
      </div>

      <!-- Product Details -->
      <div class="product-details">
        <div class="text-details">
          <h3>
            <a routerLink="/products/{{p.id}}" class="product-name"> {{ p.name }} </a>
            <!-- <a class="wishlist-button" (mouseover)="changeHeartIcon($event)" (mouseout)="resetHeartIcon($event)" (click)="AddToWishlist()">
              <img src="Icons/icon-heart-01.png" alt="Add to wishlist" class="heart-icon">
            </a> -->
          </h3>
          <span class="product-price">{{ p.price }} L.E</span>
        </div>
      </div>
    </div>
  }
</div>
