<div class="filters-container">
  <!-- Price Filter -->
  <div class="filter-section">
    <h3 class="filter-title">Price Range</h3>
    <div class="price-range">
      <div class="price-display">
        <span class="min-price">{{minPrice}} L.E</span>
        <span class="max-price">{{Price}} L.E</span>
      </div>
      <input
        type="range"
        min="{{minPrice}}"
        max="{{Price}}"
        value="{{selectedPriceRange}}"
        class="price-slider"
         (input)="onPriceChange($event)">

    </div>
  </div>

  <!-- Category Filter -->
  <div class="filter-section">
    <h3 class="filter-title">Categories</h3>
    <ul class="category-list">
      @for (cat of categories; track $index)
      {
        <li class="category-item">
          <label class="category-label">

            <input type="radio" name="Category" class="category-checkbox"  [checked]="selectedCategoryId==cat.id"  (change)="onCategoryChange(cat.id)" >
            <span class="custom-checkbox"></span>
            <span class="category-name">{{cat.name}}</span>
          </label>
        </li>
      }
   <li class="category-item">
          <label class="category-label">

            <input type="radio" name="Category" class="category-checkbox"   (change)="restCatgoryFilter()" >
            <span class="custom-checkbox"></span>
            <span class="category-name">Rest</span>
          </label>
        </li>

    </ul>
  </div>

  <!-- Brand Filter -->
  <div class="filter-section">
    <h3 class="filter-title">Brands</h3>
    <ul class="category-list">
      @for (brand of Brands; track $index)
      {
        <li class="category-item">
          <label class="category-label">
            <input type="radio"  name="Brand" class="category-checkbox"  [checked]="selectedBrandId==brand.id"   (change)="onBrandChange(brand.id)" >


            <span class="custom-checkbox"></span>
            <span class="category-name">{{brand.name}}</span>
          </label>
        </li>
      }
      <li class="category-item">
          <label class="category-label">

            <input type="radio" name="Category" class="category-checkbox"   (change)="restBrandFilter()" >
            <span class="custom-checkbox"></span>
            <span class="category-name">Rest</span>
          </label>
        </li>
    </ul>
  </div>

  <!-- Rating Filter-->

</div>
