<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="wrapper">
        <header >
           
            
            <p class="logo" >⚡ ElectroZone</p>
            
            
        </header>
        
        <div class="about-section">
            <div class="about-content">
<h1 class="custom-heading">Nice to meet you</h1>
                <p>We’re Shorouk, Rahma, Heba, Ehab, and Aliaa — a team
 of aspiring developers who came together with one goal: 
 to build a smart, user-friendly platform for electronic devices.
  The idea was born from a simple observation — there aren’t many
   dedicated websites that make finding and exploring electronic products easy and
    enjoyable. That’s where we saw an opportunity.</p>
            </div>
            <div class="about-image">
                <img src="img/1.avif" alt="Product" />
            </div>
        </div>
        
     <div class="team-section">
<h2 class="section-title">Our Team</h2>
  <div class="team-members">
    <div class="member">Shorouk</div>
    <div class="member">Rahma</div>
    <div class="member">Heba</div>
    <div class="member">Ehab</div>
    <div class="member">Aliaa</div>
  </div>
</div>


        
        
    </div>
    
    <div class="dot"></div>
</body>
</html>