<main class="container">
  <section class="product-section">
    <div class="product-image">
      <a [href]="product.pictureUrl">
        <img [src]="product.pictureUrl" [alt]="product.name">
      </a>
    </div>

    <div class="product-details-container">
      <div class="product-info">
        <h1 class="product-title">{{ product.name|titlecase}}</h1> 
        <div class="product-price">{{ product.price }} L.E</div>
        <p class="product-description">{{ product.description }}</p>

        <div class="quantity-control">
          <button class="qty-btn minus-btn" (click)="minus()">−</button>
          <span class="qty-input">{{ counter() }}</span>
          <button class="qty-btn plus-btn" (click)="plus()">+</button>
        </div>

        <button class="add-to-cart" (click)="Add()" [disabled]="isButtonDisabled || counter()<1">
          {{ buttonText }}
        </button>
        <span *ngIf="isLoading" class="spinner"></span>
      </div>

      <div class="product-tabs">
        <ul class="tab-nav">
          <li [class.active]="selectedTab === 'description'">
            <a (click)="selectedTab = 'description'">Description</a>
          </li>
          <li [class.active]="selectedTab === 'info'">
            <a (click)="selectedTab = 'info'">Additional information</a>
          </li>
        </ul>

        <div class="tab-content">
          <div *ngIf="selectedTab === 'description'" class="tab-pane active">
            <p>{{ product.description }}</p>
          </div>
          <div *ngIf="selectedTab === 'info'" class="tab-pane active">
            <p style="margin-left: 100px;"><span class="fw-bold">Brand:</span> {{ product.brand }} <span style="margin-left: 70px;">-</span> <span class="fw-bold" style="margin-left: 60px;"> Category:</span> {{ product.type }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<h1 class="text-center fw-bold my-4 border-bottom pb-2" style="color: #7a53ee;">
  Similar Products
</h1>  
  <div id="similarProductsCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-3" *ngFor="let product of products.slice(0, 4)">
          <div class="card"  >
            <img [src]="product.pictureUrl" width="300px" class="card-img-top" alt="..." (click)="gotodetails(product.id)">
            <div class="card-body">
              <h5 class="card-title">{{ product.brand|titlecase}} </h5>
              <p class="card-text">{{ product.price }} EGP</p>
              <p class="card-text">{{ product.type|titlecase }} </p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item" *ngIf="products.length > 4">
      <div class="row">
        <div class="col-md-3" *ngFor="let product of products.slice(4, 8)">
          <div class="card" >
            <img [src]="product.pictureUrl"  width="300px" class="card-img-top" alt="..." (click)="gotodetails(product.id)">
            <div class="card-body">
              <h5 class="card-title">{{ product.brand|titlecase }}</h5>
              <p class="card-text">{{ product.price }} EGP</p>
              <p class="card-text">{{ product.type|titlecase}} </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#similarProductsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#similarProductsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>



</main>


