<header>
  <nav class="navbar navbar-expand-lg glass-navbar">
    <div class="container d-flex justify-content-between align-items-center px-2">
      <!-- LEFT: Logo + Menu -->
      <div class="d-flex align-items-center gap-3">
        <a class="navbar-brand fw-bold text-dark me-3" routerLink="/">
          <img
            src="Icons/ecommerce.png"
            alt="N/A"
            height="70"
            width="80"
            class="d-inline-block align-text-top me-2 logo-hover-transform"
          />
        </a>
        <ul class="navbar-nav flex-row gap-3 mb-0">
          <li class="nav-item">
            <a
              class="nav-link nav-click nav-swipe"
              routerLink="home"
              routerLinkActive="active"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link nav-click nav-swipe"
              routerLink="products"
              routerLinkActive="active"
              >Products</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link nav-click nav-swipe"
              routerLink="about"
              routerLinkActive="active"
              >About</a
            >
          </li>
        </ul>
      </div>

      <!-- RIGHT: Icons -->
      <div class="d-flex align-items-center gap-3">
        <a class="icon-btn search-btn nav-click" routerLink="products" routerLinkActive="active">
          <i class="zmdi zmdi-search"></i>
        </a>

        @if(isLogin) {

        <a
          class="icon-btn cart-btn nav-click position-relative"
          (click)="onCartClick()"
        >
          <i class="zmdi zmdi-shopping-cart"></i>
          <span class="notification-badge">{{ this.cartWishingData.cartItemsCount() }}</span>
        </a>

        <a class="icon-btn wishlist-btn nav-click position-relative" routerLink="Wishing" routerLinkActive="active">
          <i class="zmdi zmdi-favorite-outline"></i>
          <span class="notification-badge">{{ this.cartWishingData.wishlistItemsCount() }}</span>
        </a>

        <a class="icon-btn profile-btn nav-click position-relative" routerLink="profile" routerLinkActive="active">
          <i class="zmdi zmdi-account"></i>
          <span class="username">{{ userName }}</span>
        </a>

        <a
          class="icon-btn logout-btn nav-click position-relative"
          (click)="onLogOutClick()"
        >
          <i class="zmdi zmdi-power"></i>
        </a>

        } @else {

        <li class="nav-item">
          <a
            class="nav-link nav-click auth-btn login-btn"
            routerLink="login"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        }
      </div>
    </div>
  </nav>
</header>
